
.Navbarr{
    margin: 0;
    padding: 0;
    background-color: #093459;
    height: 90px;
    width: 100%;
    border-radius: 2px 2px 2px 2px;
}
.containerr{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.logo-iconss{
    width: 30%;
    height: 90px;
    float: left;
}
.logo-iconss img{
    width: 40%;
    height: 90px;
    float: left;
}
.logo-iconss a{
    width: 50%;
    float: left;
    color: #ebeaea;
    font-size: 20px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.card-icon{
   width: 17.5%;
   height: 90px; 
   float: left;
}
.card-icon i{
    color: #ebeaea;
    font-size: 35px;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    float: left;
    left: 20%;
    font-weight: bold;
}

.card-icon p{
    font-size: 20px;
    width: 50%;
    color: #ebeaea;
    float: right; 
    right: 10%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    font-weight: bold;
    text-align: center;
    
}
.card-icon:hover{
    background-color: #9b9b9b;
}
.create-icon{
    width: 17.5%;
    height: 90px;
    float: left;
}
.create-icon i{
    color: #ebeaea;
    font-size: 35px;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    float: left;
    left: 20%;
    font-weight: bold;   
}
.create-icon p{
    font-size: 20px;
    width: 50%;
    color: #ebeaea;
    float: right; 
    right: 10%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    font-weight: bold;
    text-align: center;
}
.create-icon:hover{
    background-color: #9b9b9b;
}
.card-icon{
   width: 17.5%;
   height: 90px; 
   float: left;
}
.card-icon i{
    color: #ebeaea;
    font-size: 35px;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    float: left;
    left: 20%;
    font-weight: bold;
}

.card-icon p{
    font-size: 20px;
    width: 50%;
    color: #ebeaea;
    float: right; 
    right: 10%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    font-weight: bold;
    text-align: center;
    
}
.card-icon:hover{
    background-color: #9b9b9b;
}

.account-icon{
    width: 17.5%;
    height: 90px; 
    float: left;
}
.account-icon i{
     color: #ebeaea;
     font-size: 35px;
     position: relative;
     top: 50%;
     transform: translate(0,-50%);
     float: left;
     left: 20%;
     font-weight: bold;
}
.account-icon p{
     font-size: 20px;
     width: 50%;
     color: #ebeaea;
     float: right; 
     right: 10%;
     position: relative;
     top: 50%;
     transform: translate(0,-50%);
     font-weight: bold;
     text-align: center;
}
 .account-icon:hover{
     background-color: #9b9b9b;
}
.logout-icon{
    width: 17.5%;
    height: 90px; 
    float: left;
}
.logout-icon i{
     color: #ebeaea;
     font-size: 35px;
     position: relative;
     top: 50%;
     transform: translate(0,-50%);
     float: left;
     left: 20%;
     font-weight: bold;
} 
.logout-icon p{
     font-size: 20px;
     width: 50%;
     color: #ebeaea;
     float: right; 
     right: 10%;
     position: relative;
     top: 50%;
     transform: translate(0,-50%);
     font-weight: bold;
     text-align: center;
     
}
.logout-icon:hover{
     background-color: #9b9b9b;
}

.form-product{
    width: 30%;
    height: 400px;    
    float: left;
    margin-top: 2%;
    margin-right: 3%;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 1px 1px 1px 1px rgb(219, 219, 219);
    border-bottom: 2px solid greenyellow;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    top: 0px;
    position: relative;
    transition: top 0.3s;
}
.form-product:hover{
    top: -12px;
}
.form-product-img{
    width: 100%;
    height: 300px;
    border-bottom: 1px solid  rgb(219, 219, 219);
    box-shadow: 0px 1px 0px 0px rgb(219, 219, 219);
}
.form-product-img img{
    margin-top: 1%;
    width: 100%;
    height: 290px;
}
.form-product-name{
    width: 100%;
    text-align: center;
    height: 50px;
}
.form-product-name p{
    font-size: 20px;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
.form-product-price{
    width: 100%;
    height: 47px;
}
.form-product-price p{
    font-size: 16px;
    color: red;
    text-align: center;
}
.image-items-details{
    margin-top: 2%;
    width: 50%;
    height: 500px;
    float: left;
};
.image-items-details img{
    
   
}
#img-link-details{
    width: 70%;
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
.price-items-details{
    margin-top: 2%;
    width: 50%;
    height: 500px;
    float: left;
}
.price-items-details h2{
    width: 50%;

}
.number{
    width: 40%;
}
.price-items-details-center{
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}


